<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andro.permission" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="andro.permission.PermissionHelperActivity"
            android:theme="@style/PermissionTheme"/>
    </application>
</manifest>
